<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" parallel="none" thread-count="1">
    <listeners>
        <listener class-name="com.tests.listeners.ReportingListener"></listener>
    </listeners>

    <test name="Naukri Functional Tests">
        <classes>
            <class name="com.tests.ui.AuthTest" />
            <class name="com.tests.ui.GeneralUiNavigationTest" />
            <class name="com.tests.ui.ResumeHeaderAndSkillUpdateTest" />
            <class name="com.tests.ui.ResumeUploadTest" />
            <class name="com.tests.ui.SearchFilterTest" />
        </classes>
    </test>
</suite>